In [1]:
import pandas as pd
import numpy as np

In [2]:
property_events = pd.read_csv("data/prop_events_for_test.csv")
print(property_events.shape)
properties = pd.read_csv("data/property_for_test.csv")
print(properties.shape)

(18922, 3)
(15101, 35)

In [7]:
property_events

       prop_id                      date      type
0       129114  2008-02-01T00:00:00.000Z    survey
1       129114  2010-11-26T00:00:00.000Z    survey
2       129114  2016-02-16T00:00:00.000Z      sale
3       129213  2013-12-20T00:00:00.000Z    survey
4       129451  2018-05-10T00:00:00.000Z  l_rented
...        ...                       ...       ...
18917   462144  2007-04-18T00:00:00.000Z    survey
18918   462144  2007-06-06T00:00:00.000Z    survey
18919   462144  2013-06-18T00:00:00.000Z    survey
18920   462435  2016-04-11T00:00:00.000Z      sale
18921   462435  2017-12-15T00:00:00.000Z      sale

[18922 rows x 3 columns]

In [3]:
properties

,prop_id,x_coordinate,y_coordinate,post_town,postcode_sector,bathrooms,bathrooms$confidence,bathrooms$is_modelled,bedrooms,bedrooms$confidence,...,ht_property_type$is_modelled,tenure,tenure$confidence,tenure$is_modelled,property_value,property_value$confidence,property_value$is_modelled,property_rental_value,property_rental_value$confidence,property_rental_value$is_modelled
0,147676,357605.0,175370.0,BRISTOL,BS6 7,1.0,0.690607,True,2.0,0.597546,...,True,Leasehold,0.727775,True,378103.60,0.800291,True,4364.6704,0.0,True
1,152958,359244.0,175113.0,BRISTOL,BS6 5,1.0,0.669888,True,2.0,0.545742,...,True,Leasehold,0.880897,True,377139.25,0.661276,True,4511.5044,0.0,True
2,154711,357885.0,174968.0,BRISTOL,BS6 6,1.0,0.755115,True,1.0,0.441697,...,True,Leasehold,0.947736,True,322239.60,0.841244,True,4114.7810,0.0,True
3,155062,358435.0,174998.0,BRISTOL,BS6 7,1.0,0.437527,True,1.0,0.303969,...,True,Freehold,0.778489,True,367524.94,0.602055,True,3735.5132,0.0,True
4,158773,359518.0,174770.0,BRISTOL,BS6 5,1.0,0.601943,True,2.0,0.425108,...,True,Freehold,0.596687,True,313844.66,0.867529,True,4306.3100,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15096,163710,357957.0,174490.0,BRISTOL,BS6 6,1.0,0.636088,True,2.0,0.465024,...,False,Freehold,NaN,False,331794.03,0.593695,True,4112.6990,0.0,True
15097,143377,357624.0,175707.0,BRISTOL,BS6 7,1.0,0.652821,True,1.0,0.489644,...,False,Leasehold,NaN,False,326845.88,0.600870,True,4093.6616,0.0,True
15098,388773,358976.0,174622.0,BRISTOL,BS6 5,1.0,0.735678,True,1.0,0.504198,...,False,Leasehold,NaN,False,277276.56,0.831529,True,3814.5576,0.0,True
15099,393882,358158.0,175992.0,BRISTOL,BS6 7,1.0,0.569815,True,3.0,0.436453,...,False,Freehold,NaN,False,367563.94,0.856251,True,4201.4370,0.0,True
15100,351158,359248.0,174556.0,BRISTOL,BS6 5,1.0,0.460244,True,2.0,0.570698,...,False,Freehold,NaN,False,348890.66,0.789313,True,4514.6865,0.0,True

In [14]:
#Â Check the ids
if properties['prop_id'].value_counts().max() > 1:
    print("There are duplicates in the propery id")
print(f"There are {properties['prop_id'].shape[0]} unique properties")
# Check the properties that we have historical data
properties_with_historical_data = properties.merge(property_events.drop_duplicates(subset = ['prop_id']), on = 'prop_id')['prop_id']
print(f"There are {properties_with_historical_data.shape[0]} properties with historical data")

There are 15101 unique properties
There are 6514 properties with historical data

In [ ]:
# Understand the historical data